body{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    background-color: #78a4d6;
    line-height: 150%;
    color: #333;
    
}

.display{
    padding: 0 10% 0 10%;
    /* width: 80%; */

}

.mainDiv{
    background-color: grey;
}

.bioImg{
    padding: 5px;
}

.mainText{
    padding: 10px;
}


h1 {
    padding: 20px;
    font-weight: bolder;
    font-size: 28px;
    text-shadow: whitesmoke 0 0 4px;
}

h2, p {
    font-size: 24px;
    font-weight: bold;
}  

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

a {
    color: lightcyan;
}

a:visited {
    color: rgb(82, 180, 143);
}

.row {
    margin-top: 15px;
}

footer {
    border-radius: 25px;
    margin: auto;
    padding: 10px 10% 10px 10%;
    background-color: #272730;
    font-size: 18px;
    color: white;
    border: solid;
    border-width: 4px;
    border-color: #2a62b5;
    position: fixed;
    bottom: 0;
    left: 1.5%;
    width: 98.5%;
}

.links {
    text-align: right;
}