body{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    background-color: #78a4d6;
    line-height: 150%;
    color: #333;
    
}

header {
    background-image: linear-gradient(to right, #447dbd, white);
    color: rgb(43, 42, 42);
    height: 75px;
    border-radius: 25px;

}

h1 {
    padding: 20px;
    font-weight: bolder;
    font-size: 28px;
    text-shadow: whitesmoke 0 0 4px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}  

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

/* #bio-img {
    height: 300px;
    width: 100px;
} */

a {
    color: darkblue;
}

a:visited {
    color: green;
}

.container {
    margin: auto;
}

.row {
    margin-top: 15px;
}

footer {
    background-image: linear-gradient(to right, #447dbd, white);
    color: rgb(43, 42, 42);
    height: 35px;
    border-radius: 25px;
    margin: auto;
}