body{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    background-color: #78a4d6;
    line-height: 150%;
    color: #333;
    
}

header {
    background-image: linear-gradient(to right, #447dbd, white);
    color: rgb(43, 42, 42);
    font-weight: bold;
    height: 75px;
    border-radius: 25px;

}

h1 {
    padding: 20px;
    font-size: 28px;
    text-shadow: whitesmoke 0 0 4px;
}

h2 {
font-size: 24px;
font-weight: bold;
}  

a {
    color: darkblue;
}

a:visited {
    color: green;
}

.container {
    margin: auto;
}

h4 {
    font-size: 14px;

}

#NHLStandings, th, td{
    border: 5px solid darkslategray;
    border-collapse: collapse;
    font-size: 16px;
    text-align: center;
    width: 80%;
    text-emphasis: bold;   
    margin-left: auto; 
    margin-right: auto;
    margin-top: 40px;
}

th, td{
width: 30px;
}

#nhl{
    background-color: darkgrey;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

.team{
    text-align: left;
}

.logo{
    height: 25px;
    width: 25px;
    margin: 3px;
}


.cardImg {
    height: 350px;
    width: 250px;
}

.cardOne,
.cardTwo {
    margin-left: auto; 
    margin-right: auto;
    margin-top: 40px;
}